.Nav { 
    display: grid;
    grid-template-columns: repeat(5,20vw);
    font-size: x-large;
    text-align: center;
    size: 250%;
    background-color: rgba(219, 138, 38, 0.601);
    border-radius: 30px;
  }
.Nav a{
    
    text-decoration: none;
    color:aliceblue;
}